<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kidoz.sdk.api"
    android:versionCode="14"
    android:versionName="0.1.4" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <!-- SDK DEFENITIONS -->
        <receiver android:name="com.kidoz.sdk.api.receivers.SdkReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.kidoz.events.SyncReciever" >
        </receiver>

        <service
            android:name="com.kidoz.events.SyncEventService"
            android:enabled="true"
            android:process=":syncLEV" >
        </service>
        <!-- SDK DEFENITIONS -->
        
    </application>

</manifest>